[package]
name = "monkey"
description = "The Monkey Programming language"
version = "0.2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lazy_static = "1.4.0"
byteorder = "1.4.3"
